/* ==== input common block ==== */

.input {
    border: 3px solid var(--backgroud-border);
}
.input_size_s {
    width: 100%;
    height: 24px;
}
.input_size_m {
    width: 100%;
    height: 32px;
}
.input_size_l {
    width: 100%;
    height: 42px;
}
.input_size_xl {
    width: 100%;
    height: 56px;
}
.input_size_xxl {
    width: 100%;
    height: 64px;
}