/* ==== section common block ==== */

.section {}

.section_indent-b_xxl {
	margin-bottom: var(--space-xxl);
}

.section_indent-b_xxxxl {
	margin-bottom: var(--space-xxxxl);
}

.section_space-v_xxl {
	padding: var(--space-xxl) 0;
}

.section_space-v_xxxxl {
	padding: var(--space-xxxxl) 0;
}